body{
	height: 100%;
	margin: 0;
	background-color: rgb(39,85,140);
}
.slider{
	left: 30%;
	top: 30%;
	position: fixed;
	height: 400px;
	width: 3000px;
}
.slider__window{
	white-space: nowrap;
	overflow: hidden;
	position: relative;
	height: 400px;
	width: 500px;
}
.slider__item{
	position: relative;
	display: inline-block;
	height: 400px;
	width: 500px;
}
.slider__elem1{
	background-color: rgb(123,143,111);
}
.slider__elem2{
	background-color: rgb(220,92,1);
}
.slider__elem3{
	background-color: rgb(196,220,1);
}
.arrow-left{
	position: fixed;
	left: 360px;
	top: 60%;
	border-radius: 1px;
	background-color: rgb(255,255,255);
	border: 1px solid rgb(0,0,0);
	position: fixed;
	height: 20px;
	width: 40px;
}
.arrow-right{
	position: fixed;
	right: 405px;
	top: 60%;
	border-radius: 1px;
	background-color: rgb(255,255,255);
	border: 1px solid rgb(0,0,0);
	position: fixed;
	height: 20px;
	width: 40px;
}